.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Shared Styles */
*{
    margin: 0 auto;
    background-color: #F7F7F7;
}

.btn-primary{
    background-color:orange;
    width: 197px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white; 
    border: none;
    padding:10px 10px;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 13px;
}

.text-center{
    text-align: center;
}

/* Nav Styles */
nav {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.nav-logo{
    display: flex; 
    align-items: center;
    gap: 10px;
}
nav li, ul, a{
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.nav-links{
    display: flex;
    gap: 32px;
}
nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 186px;
    padding-right: 186px;
}
.icon{
    width: 62px;
    height: 62px;
}
.home{
    color: orange;
}
.facilities{
    color: #05D4DF;
}
.about{
    color: skyblue;
}
.admission{
    color:#5D58EF;
}

/* Banner Styles */
.Banner{
    display: flex;
    align-items: center;
    max-width: 1310px;
    margin: 0 auto;
    justify-content: space-between;
    /* margin-bottom: 60px; */
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    color: #000000;
    margin-top: 50px;
    margin-left:0px;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 24px;
}
.btn-banner{
    background-color:black;
    width: 197px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white; 
    border: none;
    padding:10px 10px;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 13px;
}

/* Curriculum Styles */

.curriculum{
    max-width: 1226px;
    margin: 0 auto;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 80px;
}

.curriculum-title-main{
    font-size: 46px;
    font-weight: 700;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 80px;
}
.curriculum-title{
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 40px;
}
 .curriculum-type{
    display: flex;
    border-radius: 18px;
    gap:28px;
 }
 .curriculum-container1{
    background-color: transparent;
    padding: 20px;
    width: 368px;
    height: 482px;
    border-radius: 15px; 
    background-image: linear-gradient(180deg,#DEF5FF, #FFFFFF);
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 80px;
    
 }
 .curriculum-container2{
    padding: 20px;
    width: 368px;
    height: 482px;
    border-radius: 15px; 
    background-image: linear-gradient(180deg,#FFF4DC, #FFFFFF);
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 80px;
 }
 .curriculum-container3{
    padding: 20px;
    width: 368px;
    height: 482px;
    border-radius: 15px;
    background-image: linear-gradient(180deg,#F2E8FF, #FFFFFF); 
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 80px;
 }
 .curriculum-img{
    margin-top: 40px;
 }
 .curriculum-description{
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    margin-bottom:30px;
 }
 .curriculum-img{
    background-color: transparent;
 }
 .read1{
    color: #64C8FF;
    background-color: transparent;
 }
 .read2{
    color: #F0AA00;
    background-color: transparent;
 }
 .read3{
    color: #8700FF;
    background-color: transparent;
 }
 .btn-curriculum {
    background-color: orange;
    border-radius:50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    padding: 10px;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.btn-curriculum i {
    background-color: transparent;
    color: inherit;
    font-size: 1.5rem;
}




@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }
    .icon{
        display: block;
        margin-left: 0px;
    } 
    .btn-primary{
        display: none;
    }
    .header-head{
        display: none;
    }
    nav i{
        display: block;        
    }
}
